{% extends 'main/base.html' %}

{% block title %}
  About Us
{% endblock %}

{% block content %}
  <div class="flex flex-col justify-center items-center px-4 py-8">
    <h2 class="text-slate-800 text-3xl font-bold mb-8">Meet Our Team!</h2>

    <p class="text-slate-600 text-lg">We are a passionate group of individuals driven by innovation and a commitment to excellence.</p>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 pt-4 pb-8">
      <div class="rounded-lg shadow-md bg-white hover:bg-gray-100 p-4 flex flex-col items-center">
        <img class="w-32 h-32 rounded-full mb-4" src="https://via.placeholder.com/150" alt="Naveed" />
        <span class="text-slate-800 font-medium">Naveed</span>
        <p class="text-slate-600 text-sm">Software Engineer</p>
        <div class="flex justify-center mt-2">
          <a href="https://google.com" class="text-blue-500 hover:text-blue-700 mr-2">
            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 12L4 16l4.228 4L12 20l4.228-4 4-4z" />
            </svg>
          </a>
          <a href="https://google.com" class="text-blue-500 hover:text-blue-700">
            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M16 11.37A4.5 4.5 0 0 0 10.5 15h.58A4.5 4.5 0 0 0 16 11.37zM5.25 12c0-6.627 4.312-12 10.374-12S16 5.373 16 12c0 5.372-3.374 9.626-8.25 12zM7.5 8.25A2.75 2.75 0 0 1 10.25 5A2.75 2.75 0 0 1 13 8.25z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="rounded-lg shadow-md bg-white hover:bg-gray-100 p-4 flex flex-col items-center">
        <img class="w-32 h-32 rounded-full mb-4" src="https://via.placeholder.com/150" alt="Mustaqeem" />
        <span class="text-slate-800 font-medium">Mustaqeem</span>
        <p class="text-slate-600 text-sm">Software Engineer</p>
        <div class="flex justify-center mt-2">
          <a href="https://google.com" class="text-blue-500 hover:text-blue-700 mr-2">
            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 12L4 16l4.228 4L12 20l4.228-4 4-4z" />
            </svg>
          </a>
          <a href="https://google.com" class="text-blue-500 hover:text-blue-700">
            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M16 11.37A4.5 4.5 0 0 0 10.5 15h.58A4.5 4.5 0 0 0 16 11.37zM5.25 12c0-6.627 4.312-12 10.374-12S16 5.373 16 12c0 5.372-3.374 9.626-8.25 12zM7.5 8.25A2.75 2.75 0 0 1 10.25 5A2.75 2.75 0 0 1 13 8.25z" />
            </svg>
          </a>
        </div>
      </div>

      <div class="rounded-lg shadow-md bg-white hover:bg-gray-100 p-4 flex flex-col items-center">
        <img class="w-32 h-32 rounded-full mb-4" src="https://via.placeholder.com/150" alt="Pawan" />
        <span class="text-slate-800 font-medium">Pawan</span>
        <p class="text-slate-600 text-sm">Software Engineer</p>
        <div class="flex justify-center mt-2">
          <a href="https://google.com" class="text-blue-500 hover:text-blue-700 mr-2">
            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 12L4 16l4.228 4L12 20l4.228-4 4-4z" />
            </svg>
          </a>
          <a href="https://google.com" class="text-blue-500 hover:text-blue-700">
            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M16 11.37A4.5 4.5 0 0 0 10.5 15h.58A4.5 4.5 0 0 0 16 11.37zM5.25 12c0-6.627 4.312-12 10.374-12S16 5.373 16 12c0 5.372-3.374 9.626-8.25 12zM7.5 8.25A2.75 2.75 0 0 1 10.25 5A2.75 2.75 0 0 1 13 8.25z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
