{% extends 'main/base.html' %}

{% block title %}
  Video Converter
{% endblock %}

{% block content %}
  <div class="flex m-auto px-4 py-8 items-center justify-center">
    <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col max-w-lg w-full">
      <h2 class="text-3xl font-bold text-gray-800 p-3 text-center">Real-Time Emotion Detection</h2>
      <div class="flex flex-col items-center">
        <video id="video" autoplay playsinline class="w-full mb-4 hidden"></video>
        <canvas id="canvas" width="640" height="360" class="w-full hidden"></canvas>
        <img id="client" class="w-full rounded-lg" src="https://picsum.photos/640/360" alt="Placeholder Image" />
      </div>
      <div class="flex flex-row justify-between bg-gray-100 p-4 rounded-b-lg">
        <div class="flex flex-row">
          <h2 class="text-sm font-semibold text-gray-800">Select Model:</h2>
          <select id="optionsDropdown" class="w-full rounded-md border border-gray-400 px-3 py-2 focus:outline-none focus:ring-blue-500 focus:ring-opacity-50">
            <option value="CustomCNN">CustomCNN</option>
            <option value="ResNet50">ResNet50</option>
            <option value="InceptionV3">InceptionV3</option>
          </select>
        </div>
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md shadow-md transition duration-300 ease-in-out transform" id="modeButton" onclick="Mode()">Start</button>
      </div>
    </div>
  </div>
{% endblock %}
